.contenido{
    display: flex;
    position: static;
    flex-wrap: wrap;
    padding: 5px;
}


aside{
    margin: 30px;
    border-style: groove;
    flex: 60%;
    padding: 30px;
    background-color: rgb(48, 48, 48);
}
.bas1{
    margin: 30px;
    flex: 200px;
}

.noticias{
    border-style: groove;
    padding: 30px;
    background-color: rgb(48, 48, 48);
}
